<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--mindmap">
    <div class="mindmap-wrapper">
      <div class="page__hero">
        <h1 class="page__title">{{ page.title }}</h1>
      </div>
      
      <div class="mindmap-content">
        {{ content }}
      </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ '/assets/js/mind-network.js' | relative_url }}"></script>
  </body>
</html>